html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Helvetica, sans-serif;
}

.full body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#selection {
    margin-top: 0;
}

.selection-container{
    text-align: center;
    background: #fff;
    margin: 20px;
    padding: 40px;
    color: #fff;
    border: 1px solid #ccc;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
}


.full .selection-container {
    display: flex;
    flex-direction: column;
}

#selection {
    display: none;
}

.full #selection {
    display: block;
}

button{
    transition: opacity .25s;
    background: #c00;
    border: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: Georgia, serif;
}

button:hover{
    opacity: .7;
    transition: opacity .25s;
}

.full .selection-container {
    box-shadow: 0px 0px 10px rgba(0,0,0,.15);
}

.selection-container p{
    font-family: georiga, times, serif;
    color: #999;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 1.5em;
    font-style: italic;
}

.selection-container p span{
    font-family: arial, sans-serif;
    color: #000;
    display: block;
    font-weight: bold;
    font-style: normal;
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.4em;
}

.selection-container p a span span{
    font-size: .6em;
    color: #999;
    font-family: georgia;
    font-weight: normal;
    line-height: 1;
}

.selection-container p a {
    text-decoration: none;
}

.selection-container p a span {
    color: #000;
    text-decoration: none;
}

.selection-container p a:hover span {
    color: #c00;
}

.previous-selection-container{
    margin: 20px;
    text-align: center;
}

.previous-selection-container h2{
    font-size: 1em;
    font-weight: bold;
    font-family: arial, sans-serif;
}

.previous-selection-container ul{
    list-style: none;
    font-size: .8em;
    padding: 0;
}

.previous-selection-container span{
    font-style: italic;
    color: #999;
}

.previous-selection-container a{
    color: #999;
    text-decoration: none;
}

.previous-selection-container a:hover{
    color: #c00;
}

.previous-selection-container ul{
    line-height: 1.5em;
}
