html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, footer, header, nav, section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption figure, main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active {
    outline-width: 0;
}

a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: inherit;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button::-moz-focusring, [type="button"]::-moz-focusring, [type="reset"]::-moz-focusring, [type="submit"]::-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details, menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

body {
    background-color: #262626;
    color: #ECDFBD;
    font-family: Montserrat, sans-serif;
    padding: 16px;
    padding-top: 0;
}

button {
    background-color: #20457C;
    border-style: none;
    color: #ECDFBD;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

a {
    color: #ECDFBD;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.Header {
    position: sticky;
    top: 0px;
    background-color: #262626;
    padding: 16px;
    box-shadow: 0px 30px 35px -20px #000000;
}

.Header  .Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Header  .SelectionControls {
    text-align: center;
}

.MovieCard {
    display: inline-block;
    margin: 8px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    width: 215px;
}

.MovieCard  .Poster {
    max-width: 100%;
    width: 100%;
}

.MovieCard  .Title {
    margin: 4px;
}

.MovieCard  .Notes {
    font-size: 0.9rem;
}

.Selection {
    margin: auto;
    width: 500px;
    text-align: center;
}

.Movies {
    text-align: center;
}

.GenreSelection {
    width: 400px;
    max-width: 100%;
}

.Filtered {
    width: 0px;
    height: 0px;
    margin: 0px;
}

.Filterable {
    transition: height 300ms  ,width 300ms  ,margin 300ms  ;
    overflow: hidden;
}

body {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.multiselectWrap {
    position: relative;
    width: 100%;
}

.multiselectContainer {
    border: 1px solid #ECDFBD;
    border-radius: 4px;
    border-color: #ECDFBD;
    background-color: #262626;
    color: #ECDFBD;
    height: 34px;
    width: 100%;
    display: table;
}

.multiselectInputWrap {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    vertical-align: middle;
    padding-bottom: 8px;
}

.multiselectInput {
    border-style: none;
    border: 0;
    line-height: 14px;
    outline-style: none;
    font-size: inherit;
    line-height: 1;
    padding: 0;
    padding-top: 8px;
    background-color: #262626;
}

.multiselectInputMirrow {
    position: absolute;
    top: -100px;
    left: -100px;
    height: 0;
    overflow: scroll;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
}

.multiselectFocused {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

.multiselectOpened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.multiselectTagWrap {
    display: inline;
}

.multiselectTag {
    color: #ECDFBD;
    border: 1px solid;
    border-color: #ECDFBD;
    border-radius: 2px;
    background-color: #262626;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.multiselectTagIcon {
    cursor: pointer;
    border-right: 1px solid #ECDFBD;
    padding: 1px 5px 3px;
    display: inline-block;
    vertical-align: middle;
}

.multiselectTagIcon:hover {
    background-color: #262626;
}

.multiselectTagLabel {
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
}

.multiselectClearWrap {
    width: 17px;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.multiselectClearWrap:hover {
    color: #D0021B;
}

.multiselectClearWrap > .multiselectClear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.multiselectArrowWrap {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}

.multiselectArrowWrap:hover > .multiselectArrow {
    border-top-color: #666;
}

.multiselectArrowWrap:hover > .multiselectArrowUpside {
    border-bottom-color: #666;
}

.multiselectArrowWrap > .multiselectArrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}

.multiselectArrowWrap > .multiselectArrowUpside {
    border-color: transparent transparent #999;
    border-style: solid;
    border-top-width: 2.5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
    top: -2.5px;
}

.multiselectMenu {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #262626;
    border: 1px solid #ECDFBD;
    border-top-color: #ECDFBD;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: scroll;
}

.multiselectMenuItem {
    color: #ECDFBD;
    cursor: pointer;
    padding: 8px 10px;
    max-height: 32px;
}

.multiselectMenuItemHovered {
    background-color: rgba(0, 126, 255, 0.08);
    color: #ECDFBD;
}
